{% extends "users/base.html" %}
{% load static %}

{% block head_content %}
    <title>{{list_words.reset_email}}</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}?v=1.24">
{% endblock  %}

{% block container %}

<form class="reset-password-form" method="POST">
    {% csrf_token %}

    <h4 class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{list_words.email_reset_complete}}</h4>

    <p class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{list_words.your_email_has_been_set}}{% if request.user.is_anonymous %} You may go ahead and log in now.{% endif %}</p>

    {% if request.user.is_anonymous %}
    <div class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">
        <a href="{% url 'users:login' %}" class="reset-password-button main-button-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">Log in</a>
    </div>
    {% endif %}

</form>
<script>

    function without_space(e){
        e.value = e.value.replace(/ /g, '')
    }
</script>
{% endblock  %}
