{% extends "users/base.html" %}
{% load static %}

{% block head_content %}
    <title>{{list_words.reset_email}}</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}?v=1.24">
{% endblock  %}

{% block container %}

<form class="reset-password-form" method="POST">
    {% csrf_token %}

    <h4 class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{list_words.email_reset_sent}}</h4>

    <p class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{list_words.we_emailed_instructions}}</p>

    <p class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{list_words.if_you_dont_receive}}</p>

</form>
<script>

    function without_space(e){
        e.value = e.value.replace(/ /g, '')
    }
</script>
{% endblock  %}
