
{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{list_words.roulette}} - {{roulette.name}}</title>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{% static 'fonts/Akira Expanded Demo.otf' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/roulette.css' %}?v=1.24">
{% endblock %}

{% block container %}

<main class="bg-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode" id="main-roulette">
    <div id="cube-icon-container-left" class="left-bg"></div>
    <article>

        <section class="roulette-container">

            <!-- {% comment %} Nombre de la ruleta {% endcomment %} -->
            <h2 class="text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode">{{roulette.name}}</h2>

            {% if not request.user.profile %}
            <p class="advertise-text text-{% if request.global_context.dark_mode %}dark{% else %}light{% endif %}mode"><i class="fas fa-exclamation-triangle"></i> {{list_words.register_account_1}}<a href="{% url "users:signup" %}">{{list_words.register_account_2}}</a>{{list_words.register_account_3}}</p>
            {% else %}
            <!-- {% comment %} Contenedor de todos los niveles de la ruleta {% endcomment %} -->
            <div id="component-root">
            </div>     
            {% endif %}    
                
        </section>
        
    </article>
    <div id="cube-icon-container-right" class="right-bg"></div>
</main>

<script src="{% static 'react_component/bundle.js' %}?v=1.241"></script>
<script>
    console.log(window.location.origin + "/")
</script>
<!-- <script src="{% static 'js/dataRoulette.js' %}"></script> -->
{% endblock %}

{% block footer_margin %}600{% endblock %}